
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}


@if (Session["Id"] != null)
{
    <h2 align="center">Hello @Session["FName"].ToString(), what would you like to do? </h2>

    <br />
    <h4 align="center"><a align="center" href="~/AddAuction.aspx">Add an item to donate</a></h4>
    <br />
    <h4 align="center"><a href="~/Auctions.aspx">Bid Now!</a></h4>
}

