
@{
    ViewBag.Title = "LoginOptions";
}

<h2 align="center">Hello, which user are you? </h2>

<br />
<h4 align="center"><a align="center" href="/User/LoginAdmin"> Login as an Admin</a></h4>
<br />
<h4 align="center"><a href="/User/Login">Login as a Donor</a></h4>
