@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>

    <title>Charity Auction</title>
    <link href="styles/styleMain.css" rel="stylesheet" type="text/css" />

</head>


<body>

    <div class="container">
       <div class="image"> 
        <img src="~/images/mainpage/hackimage1.jpg" width="1110" height="300" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Our Mission</h2>
            <p>
                We bring technologists together by building awesome communities around the world.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Careers</h2>
            <p>
                Our product showcase and career events complement the community-centric Tech Social
                as a meeting point for all. Innovative technology companies show our audience what
                they’ve built, the great people behind them, and the kinds of people they want to hire.
                Talented technologists get to meet organizations they gel with for their next career move.
            </p>
            <p><a href="http://hackernest.com/jobfairs/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Dementia Hack</h2>
            The world’s largest and foremost dementia hackathon focuses on getting life-improving products
            into the hands of people with dementia and their caregivers.
        </div>
    </div>
</body>

</html>
